{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>
        {% block title %}
            Blog Engine
        {% endblock %}
    </title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
          <a class="navbar-brand" href={% url 'ticket_create_url' %}>Создать Тикет</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'ticket_list_open_url' %}">Открытые</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ticket_list_resolved_url' %}">На рассмотрении</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ticket_list_closed_url' %}">Закрытые</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ticket_stats_url' %}">База знаний</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'ticket_list_open_url' %}" style="margin-right: 40px;">
              <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
            <form class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated  %}
                    Привет, {{ user.username }}
                    <a class="btn btn-info" href="#">Выход</a>
                {% else %}
                <a class="btn btn-info" href="#">Вход</a>
                <a class="btn btn-info" href="#">Выход</a>
                {% endif %}
            </form>
          </div>
        </nav>


                    {% block content %}
                        There is no content
                    {% endblock %}


    {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="admin-panel allign-items-center">
        <a href="/admin" class="btn btn-outline-info">Admin</a>
        {% block admin-panel %}
            <a href="{% url 'ticket_create_url' %}" class="btn btn-outline-info" style="{% if detail %}display:block;{% endif %}">Создать</a>
            <a href="{{ admin_object.get_update_url }}" class="btn btn-light edit" style="{% if detail %}display:block;{% endif %}">Изменить</a>
            <a href="{{ admin_object.get_resolute_url }}" class="btn btn-light edit" style="{% if detail %}display:block;{% endif %}">Решить</a>
            <a href="{{ admin_object.get_delete_url }}" class="btn btn-danger delete" style="{% if detail %}display:block;{% endif %}">Удалить</a>
        {% endblock %}
        </div>


    {% endif %}

</body>
</html>