{% extends 'ServiceDesk/base_template.html' %}




{% block title %}
    Tickets_list
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" >
                   {% load humanize %}
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th scope="col-2" style="width: 52px; text-align:center ">ID</th>
                    <th scope="col-2">Заголовок</th>
                    <th scope="col-2" style="width: 150px">Приоритет</th>
                    <th scope="col-2">Время посл. изменения</th>
                    <th scope="col-2">Описание проблемы</th>
                    <th scope="col-2">Решение</th>
                    <th scope="col-2">Статус</th>
                </tr>
              </thead>
              <tbody>
                    {% for ticket in tickets.object_list %}
                                <td><a href="{{ ticket.get_absolute_url }}" class="col-2" style="width: 52px">{{ ticket.id }}</a></td>
                                    <td scope="col-2">{{ ticket.title }}</td>
                                             {% if ticket.priority < 3 %}
                                                    <td class="table-danger">
                                                    {% if ticket.priority == 1 %}
                                                        Критический
                                                    {% elif ticket.priority == 2 %}
                                                        Высокий
                                                    {% endif %}</td>
                                                 {% else %}
                                                    {% if ticket.priority == 3 %}
                                                        <td class="table-success">
                                                            Нормальный
                                                        {% elif ticket.priority == 4 %}
                                                        <td class="table-info">
                                                            Низкий
                                                        {% elif ticket.priority == 5 %}
                                                        <td class="table-info">
                                                            Очень низкий
                                                        {% endif %}
                                                    </td>
                                             {% endif %}
                                    <td scope="col-2">{{ ticket.created| naturaltime }}</td>
                                    <td scope="col-2">{{ ticket.description|truncatewords:10 }}</td>
                                    {% if ticket.resolution %}
                                        <td scope="col-2">{{ ticket.resolution|truncatewords:10 }}</td>
                                        {% else %}
                                        <td scope="col-2">Нет Решения</td>
                                    {% endif %}
                                    {% if ticket.status == 'Resolved' %}
                                        <td scope="col-2">В рассмотрении</td>
                                    {% endif %}
                                </tr>
                    {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
    </div>

   {% include 'ServiceDesk/include/paginator.html' %}

{% endblock %}

